.about-pic {
    width: 650px;
    display: inline-block;
}

#versaille {
    width: 450px;
}

#versailleDiv {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

#friendshipDiv {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

figure {
    margin: 15px ;
}
figcaption {
    font-style: italic;
}

#irelandDiv {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}


p {
    width: 650px;
    margin: 50px;
}
