body {
    margin: 0 ;
    padding: 0 ;
    background-color: #efeee7 ;
    /* background-color: #ADD4D9; */
    /* background-color: #C8D5DE; */
    font-family: "Georgia" ;
}

#bannerImage {
    display: flex ;
    flex-direction: column ;
    justify-content: space-between ;
    /* align-items: flex-end ; */
    height: 375px ;
    background-image: url("../images/dillPalate.jpg") ;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100% ;
}

#banner1 {
    margin: 20px ;
    display: flex ;
    justify-content: flex-start ;
    align-items: flex-start ;
}

#banner2 {
    display: flex ;
    justify-content: flex-end ;
    align-items: flex-end ;
    margin-bottom: 20px ;
}

#bannerImage h2 {
    margin-right: 75px ;
    padding: 8px ;
    background-color: white ;
    /* color: rgb(106, 183, 235) ; */
    color: #E8C5AF;
}

h4 {
    margin: 0px ;
    /* color:rgb(106, 183, 235) ; */
    color: #E8C5AF;
}

#bannerImage h1 {
    margin: 0px ;
    background-color: white ;
    /* color: rgb(106, 183, 235) ; */
    color: #E8C5AF;
    display: inline ;
    text-align: center ;
    padding: 10px ;
}

header {
    background-color: #F2E3B3 ;
    display: flex ;
    justify-content: center ;
    align-items: center ;
    height: 90px ;
}

header ul {
    display: flex ;
    list-style-type: none ;
    margin: 0 ;
    padding: 0 ;
}

header ul li {
    margin: 20px ;
}

nav ul li a {
    text-decoration: none;
    color: #80A2BF;
}

nav ul li a:hover {
    text-decoration: underline;
    /* box-shadow: inset 0px 0px 8px rgb(106, 183, 235), 0 0 15px rgb(106, 183, 235); */
}

footer {
    display: flex ;
    justify-content: center ;
    /* background-color: ; */
    /* background-color: #ADD4D9; */
    background-color: #F2E3B3 ;
    align-items: center ;
}

footer {
    display: flex ;
    flex-direction: column ;
    justify-content: center ;
    align-items: center ;
}

#icons {
    margin-top: 15px ;
    margin-bottom: 15px;
    display: flex ;
    justify-content: center ;
    align-items: center ;
    font-size: 3em;
    /* color: #F2E3B3; */
    color: #ADD4D9;
}

i {
    /* color: rgb(106, 183, 235) ; */
    /* color: #E8C5AF; */
}
